<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title><img src="/assets/brand/logo.png" alt=""></ion-title>
  </ion-toolbar>    
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
        pullingIcon=""
        pullingText=""
        refreshingSpinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>

  <!-- todayWods -->
  <div class="section wod-resumen" *ngIf="todayWods">
    <div class="wod-slide">

        <div class="card-header">
            <h1 class="title-section">Rutinas del Día</h1>
        </div>
        
        <div *ngIf="todayWods.length === 0" class="card card-resumen no-shadow">
            <div class="text-box-resumen no">                    
                <p class="center">No hay entrenamientos registrados para hoy.</p>
            </div>
        </div>

        <div *ngIf="todayWods.length > 0">
            <ion-slides pager="true">
                <ion-slide *ngFor="let wod of todayWods" class="wod-slide">
                    <!-- Contenedor -->
                    <div class="card card-resumen mb-3">
                        <!-- Caja item -->
                        <div class="text-box-resumen plan-grid">
                            <!-- <div class="date">
                                <div class="item">
                                    <h1>{{ wod.day }}</h1>
                                    <h6>{{ wod.month }}</h6>
                                </div>
                            </div> -->
                            <div class="data">
                                <h1 class="title-section">{{ wod.claseType }}</h1>
                                <p  >
                                    {{wod.rels.stages.featured}}
                                </p>
                            </div>
                        </div>
                        <button class="button-confirm ng-star-inserted" (click)="goToWod(wod.id)">
                            Ver Rutina
                        </button>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>

    </div>

    <div class="separator"></div>
  </div>
</ion-content>
